//Logo CENTROS MEDICOS E INVERSIONES lTDA
//Azul Profundo del logo #1e243b;
//Amarillo del logo #ffc107;

//LOGO ARLO
//Celeste: #00badb;
//Verde: #006660;
//Verde Obscuro: #001e15;


$Color-de-fondo: white;
$Color-Principal: #001e15;
$Color-Secundario: #007E96;
$Color-Terciario: #CCECF4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    /* para que al hacer scroll lo haga de manera suave */
    color: $Color-Principal;
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1,4rem;
    }
}

body {
    margin: 0 auto;
    background-color: $Color-de-fondo;
    max-width: 1200px;
}

////////////////// Menu ///////////////////

.header{
    // position:fixed;
    //Esto es para que el menu se desplace a lo largo de la pagina
    position: sticky;
    top: 0;
    // left: 0;
    // right: 0;
}

.menu {
    display: flex;

    &__item {
        flex: 1;
        outline: 1px solid gold;
        list-style: none;
        font-size: 1.4rem;
        line-height: 3rem;
        text-align: center;
        transition: flex 0.5s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    
    &__item:first-child {
        flex: 0.5;
    }
    
    &__item:hover {
        flex: 1.5;
    }
}

////////////////// Contenido principal ///////////////////

////////////////// 1er Slide Home ///////////////////
.main {
    &__section {
        outline: 1px solid cyan;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px 0 15px; //para que quede espacio para le menu
        font-size: 1.4rem;
    }
}

////////////////// 2da Slide Muestras ///////////////////

.main__section--cards {
    padding: 40px 20px;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;

    .card {
        padding: 25px;
        min-width: 300px;
        max-width: 550px;
        height: 250px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

    .imagen_nuestra {
        overflow: hidden;
        background-image: url("./assets/img/muestras.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

////////////////// 3ra Slide Sistema ///////////////////

#sistemaSlide {
    padding: 30px 20px;

    p {
        text-align: center;
    }
}

////////////////// 4° Slide Precios ///////////////////

.main__section--carrousel {
    width: 90%;
    margin: 20px 0;
    display: flex; //para que se coloquen una al lado de la otra
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    /* para que se mueva en x a la mas cercana, y con el 
    scroll-snap-align: center; en las tarjetas 
    estas tarjetas se centraran en la web */

    .tarjetaValor {
        // outline: 1px dotted darkblue;
        min-height: 250px;
        padding: 30px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
        scroll-snap-align: center;
        /* las tarjetas no pueden quedar a la mitad, siempre te centra una tarjeta */


        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        font-size: 1.6rem;

        .precio {
            font-size: 2.5rem;
            font-weight: bold;
        }

        button {
            padding: 10px;
            border-radius: 5px;
            font-size: 2rem;
            font-weight: bold;    
        }
    }
}

////////////////// 4° Slide Precios ///////////////////

#NosotrosSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactanos {
    width: 100%;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    label {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {

        }

        input {
            // width: 280px;
        }
    }

}

////////////////// Footer ///////////////////

.footer {
    outline: 1px solid magenta;
    min-height: 25vh;
}


////////////////////////////////////////////////////
////////////////// @ MEDIA QUERY ///////////////////
////////////////////////////////////////////////////

@media screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-color: LightYellow;
    }
}