* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  /*para saltar de slide en slice a lo Tesla
    se necesita de 
      scroll-snap-align: start;
    para que se detenga en las secciones que se quiere 
    */
  scroll-behavior: smooth;
  /* para que al hacer scroll al presionar el menu lo haga de manera suave */
}

html h1 {
  font-size: 4rem;
}

html h2 {
  font-size: 3rem;
}

html p {
  font-size: 2rem;
}

body {
  background-color: white;
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.menu_logo {
  height: 100%;
}

.menu_logo-img {
  height: 100%;
}

.menu_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu_block_checkbox {
  display: none;
}

.menu_block_icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_block_icon-img {
  height: 50%;
}

.menu_block_icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu_block_nav {
  display: none;
}

.menu_block_nav-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border: 1px solid #0B6660;
}

.menu_block_nav-ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
}

.menu_block_nav-ul li img {
  height: 45px;
  margin: 10px;
}

.menu_block_nav-ul li p {
  font-size: 2rem;
  color: #0B6660;
}

.menu_block_nav-ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

#btn-check:checked ~ .menu_block_nav {
  display: block;
}

.slide {
  height: 100vh;
  padding: 10px;
  position: relative;
  scroll-snap-align: start;
}

#home {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("./assets/img/Home-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home h1 {
  font-size: 3.5rem;
  color: white;
  text-shadow: 0px 3px 6px #00000058;
  text-align: center;
}

#home h2 {
  font-size: 3rem;
  color: #58C9E2;
  text-shadow: 0px 3px 6px #00000058;
  text-align: center;
}

#home button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #1eb9db;
  font-size: 1.5rem;
  color: white;
  padding: 7px 70px;
  margin: 40px;
}

#home p {
  font-size: 1.3rem;
  text-align: center;
}

#servicios {
  position: relative;
  margin-top: calc(90vh);
  height: 100vh;
  width: 100%;
}

#servicios .contenidosServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: calc(10vh) 0px;
}

#servicios .contenidosServicios h2 {
  font-size: 3.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #0B6660;
  margin-bottom: 10px;
}

#servicios .contenidosServicios .cuadro {
  background-color: rgba(0, 0, 0, 0.15);
  width: 90%;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  padding: 20px;
}

#servicios .contenidosServicios .cuadro i {
  margin-bottom: 20px;
}

#servicios .contenidosServicios .cuadro i img {
  height: 79px;
  width: 79px;
}

#servicios .contenidosServicios .cuadro h3 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 3px 6px #00000058;
  margin: 10px 0px 30px;
}

#servicios .contenidosServicios .cuadro p {
  font-size: 1.8rem;
  color: white;
}

#servicios .contenidosServicios button {
  max-width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #1eb9db;
  font-size: 1.5rem;
  color: white;
  padding: 7px;
  margin: 20px;
}

#servicios .imgFondoServicios {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("./assets/img/toma-de-muestras.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 6%, 100% 15%, 100% 85%, 0 95%);
          clip-path: polygon(0 6%, 100% 15%, 100% 85%, 0 95%);
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  z-index: -1;
}

#especificidad {
  position: relative;
}

#especificidad .imgEspecificidad {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-1%, white), color-stop(30%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0))), url("./assets/img/examen-microscopio.jpeg");
  background-image: linear-gradient(0deg, white -1%, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%), url("./assets/img/examen-microscopio.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  z-index: -1;
}

#especificidad .contendioEspecificidad {
  position: absolute;
  bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#especificidad .contendioEspecificidad h2 {
  display: none;
}

#especificidad .contendioEspecificidad h3 {
  display: none;
}

#especificidad .contendioEspecificidad .texto1 {
  display: none;
}

#especificidad .contendioEspecificidad .texto2 {
  color: #1EB9DB;
  font-weight: bold;
  font-size: 2.3rem;
  text-shadow: 0px 3px 6px #00000058;
}

#especificidad .contendioEspecificidad .tabla1 {
  display: none;
}

#especificidad .contendioEspecificidad .tabla2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 0 20px;
  font-size: 2rem;
}

#especificidad .contendioEspecificidad .tabla2 .t-titulos {
  font-size: 2rem;
  color: #0B6660;
  font-weight: bolder;
}

#especificidad .contendioEspecificidad .tabla2 .t-Subtitulos {
  background-color: #0B6660;
  color: white;
  font-size: 1,8rem;
  font-weight: bold;
  text-align: left;
  padding: 1px 10px;
}

#especificidad .contendioEspecificidad .tabla2 .bor-right {
  border-right: 1px solid #767676;
}

#especificidad .contendioEspecificidad .tabla2 .t1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#especificidad .contendioEspecificidad .tabla2 .t2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

#especificidad .contendioEspecificidad .tabla2 .t3i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

#especificidad .contendioEspecificidad .tabla2 .t4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

#especificidad .contendioEspecificidad .tabla2 .t5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
}

#especificidad .contendioEspecificidad .tabla2 .t6i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

#especificidad .contendioEspecificidad .tabla2 .t7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
}

#especificidad .contendioEspecificidad .tabla2 .t8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / 9;
}

#especificidad .contendioEspecificidad .tabla2 .t9i {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
}

#especificidad .contendioEspecificidad .tabla2 .t10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10 / 12;
}

#especificidad .contendioEspecificidad .tabla2 .t11 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10 / 12;
}

#especificidad .contendioEspecificidad .texto3 {
  color: #767676;
}

#serviciosDos {
  position: relative;
  width: 100%;
}

#serviciosDos .textos {
  padding: calc(10vh) 10px 0 10px;
}

#serviciosDos .textos h2 {
  font-size: 3rem;
  color: #0B6660;
  text-align: right;
  margin-bottom: 20px;
}

#serviciosDos .textos p {
  font-size: 1.5rem;
  text-align: right;
  font-style: italic;
  color: #767676;
}

#serviciosDos .textos p span {
  color: #0B6660;
}

#serviciosDos .textos button {
  position: absolute;
  right: 0;
  max-width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #0b6660;
  font-size: 1.5rem;
  color: white;
  padding: 10px 30px;
  margin: 20px;
}

#serviciosDos .imgFondo {
  position: absolute;
  top: 30%;
  z-index: -1;
  height: 70vh;
  width: 100%;
  background-image: url("./assets/img/empleados-temperatura.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}

#sistema {
  position: relative;
}

#sistema .igDeFondo {
  position: absolute;
  height: 70vh;
  width: 100%;
  top: 0%;
  background-image: url("./assets/img/meeting.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
}

#sistema .textos2 {
  position: absolute;
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sistema .textos2 .superior {
  color: white;
}

#sistema .textos2 .superior h2 {
  margin-bottom: 10px;
  font-size: 2.6rem;
  text-shadow: 0px 3px 6px #00000058;
}

#sistema .textos2 .superior p {
  font-size: 1.7rem;
}

#sistema .textos2 .inferior h3 {
  font-size: 2.6rem;
  color: #0B6660;
  margin-bottom: 10px;
  text-shadow: 0px 3px 6px #00000058;
}

#sistema .textos2 .inferior li {
  font-size: 1.8rem;
  list-style: none;
  color: #767676;
}

#sistema .textos2 .inferior li span {
  font-weight: bold;
  color: #0B6660;
}

#precio {
  position: relative;
  height: 100vh;
}

#precio .imgfDeFondo {
  position: absolute;
  height: 80vh;
  width: 100%;
  top: 20%;
  background-image: url("./assets/img/pagos.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

#precio .dentro {
  position: absolute;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  padding-left: 10px;
  padding-right: 10px;
}

#precio .dentro h2 {
  margin: 10px;
  color: #767676;
  font-size: 3.5rem;
  text-shadow: 0px 2px 3px #00000058;
}

#precio .dentro .cuadrosDeValores {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  /* para que se mueva en x a la mas cercana, y con el 
            scroll-snap-align: center; en las tarjetas 
            estas tarjetas se centraran en la web */
}

#precio .dentro .cuadrosDeValores .cuadritos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  scroll-snap-align: center;
  /* las tarjetas no pueden quedar a la mitad, siempre te centra una tarjeta */
  min-width: 220px;
  max-width: 260px;
  min-height: 300px;
  max-height: 350px;
  border-radius: 10px;
  padding: 10px;
  background-color: #0b6660;
}

#precio .dentro .cuadrosDeValores .cuadritos h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
  color: white;
}

#precio .dentro .cuadrosDeValores .cuadritos h4 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
  text-shadow: 0px 3px 6px #00000058;
}

#precio .dentro .cuadrosDeValores .cuadritos button {
  min-width: 120px;
  width: 45vw;
  max-width: 190px;
  height: 45px;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  background-color: #1eb9db;
  color: white;
}

#contacto {
  position: relative;
  height: 100vh;
  width: 100%;
}

#contacto .contacto_contenido {
  width: 90%;
  margin: 0 auto;
  margin-top: 11vh;
  background-color: rgba(11, 102, 96, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto_contenido h2 {
  color: white;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 15px 0 5px;
}

#contacto .contacto_contenido .contactanos__form {
  margin: auto;
  padding: 10px;
  width: 100%;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto_contenido .contactanos__form label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .contacto_contenido .contactanos__form span {
  display: none;
}

#contacto .contacto_contenido .contactanos__form input {
  margin: 10px;
  width: 75vw;
  padding: 5px;
  border: none;
  font-size: 1.7rem;
}

#contacto .contacto_contenido .contactanos__form textarea {
  margin: 10px;
  width: 75vw;
  min-height: 150px;
  padding: 5px;
  border: none;
  font-size: 1.7rem;
}

#contacto .contacto_contenido .contactanos__form--btns input[type=reset] {
  display: none;
}

#contacto .contacto_contenido .contactanos__form--btns input[type=submit] {
  width: 50vw;
  padding: 8px;
  font-size: 2rem;
  background-color: #1EB9DB;
  border: 1px solid #58C9E2;
  border-radius: 25px;
  color: white;
}

#contacto .contacto_imgFondo {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("./assets/img/oficina-distanciada.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  z-index: -1;
}

footer {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: end;
}

footer .fooImagen {
  position: absolute;
  top: 10%;
  height: 90vh;
  width: 100%;
  background-image: url("./assets/img/Test-salival.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
  z-index: -1;
}

footer img {
  height: 26px;
  width: 26px;
  margin: 7px;
}

footer .deLado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h3 {
  color: #0B6660;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 5px;
}

footer p, footer li {
  color: #767676;
}

footer .oculto {
  display: none;
}

footer .fooContenido {
  padding: 10px;
  padding-top: calc(10vh + 50px);
}

footer .fooContenido .fooBlockUno h2 {
  font-weight: lighter;
  color: #0B6660;
}

footer .fooContenido .fooBlockUno h2 span {
  color: #1EB9DB;
}

footer .fooContenido .fooBlockDos {
  margin: 30px 0;
}

footer .fooContenido .fooBlockTres li {
  margin: 7px 10px;
  list-style: none;
  font-size: 2rem;
}

@media (min-width: 677px) {
  .menu_block_icon {
    display: none;
  }
  .menu_block_icon-img {
    display: none;
  }
  .menu_block_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 80%;
  }
  .menu_block_nav-ul {
    height: 100%;
    background-color: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .menu_block_nav-ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    height: 100%;
  }
  .menu_block_nav-ul li img {
    display: none;
  }
  .slide {
    padding: 20px;
  }
  #home {
    padding: 50px;
  }
  #home h1 {
    font-size: 5.5rem;
  }
  #home h2 {
    font-size: 4.5rem;
  }
  #home button {
    border-radius: 0px;
    background-color: rgba(30, 185, 219, 0.5);
    font-size: 2.5rem;
    padding: 8px 50px;
    margin: 20px;
  }
  #home p {
    font-size: 1.6rem;
  }
  #servicios .contenidosServicios {
    display: block;
    width: 80%;
  }
  #servicios .contenidosServicios h2 {
    font-size: 5rem;
  }
  #servicios .contenidosServicios .cuadro {
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
  }
  #servicios .contenidosServicios .cuadro i {
    display: none;
  }
  #servicios .contenidosServicios .cuadro h3 {
    font-size: 4.5rem;
    color: #1EB9DB;
    text-shadow: 0px 0px 0px #00000058;
  }
  #servicios .contenidosServicios .cuadro p {
    font-size: 2.5rem;
    color: #767676;
  }
  #servicios .contenidosServicios button {
    display: none;
  }
  #servicios .imgFondoServicios {
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(20%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0))), url("./assets/img/toma-de-muestras.png");
    background-image: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 100%), url("./assets/img/toma-de-muestras.png");
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
            clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #especificidad .imgEspecificidad {
    top: 10vh;
    height: 90vh;
    width: 80%;
    background-image: -webkit-gradient(linear, right top, left top, from(white), color-stop(15%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0))), url("./assets/img/examen-microscopio.jpeg");
    background-image: linear-gradient(270deg, white 0%, rgba(255, 255, 255, 0.9) 15%, rgba(255, 255, 255, 0) 100%), url("./assets/img/examen-microscopio.jpeg");
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #especificidad .contendioEspecificidad {
    top: 11vh;
    right: 10px;
    width: 60%;
    text-align: right;
  }
  #especificidad .contendioEspecificidad h2 {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    color: #0B6660;
    margin-top: 30px;
  }
  #especificidad .contendioEspecificidad h3 {
    display: block;
    font-size: 3rem;
    font-weight: lighter;
    color: #1EB9DB;
    margin-bottom: 30px;
  }
  #especificidad .contendioEspecificidad .texto1 {
    display: block;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    color: #767676;
  }
  #especificidad .contendioEspecificidad .texto2 {
    display: none;
  }
  #especificidad .contendioEspecificidad .tabla1 {
    margin: 20px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #especificidad .contendioEspecificidad .tabla1 .y-titulos {
    font-size: 2rem;
    font-weight: bold;
    color: #0B6660;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #especificidad .contendioEspecificidad .tabla1 .y-contenido {
    font-size: 2rem;
    font-weight: lighter;
    color: #767676;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #especificidad .contendioEspecificidad .tabla1 .colum-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  #especificidad .contendioEspecificidad .tabla1 .colum-2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  #especificidad .contendioEspecificidad .tabla1 .colum-3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / 9;
  }
  #especificidad .contendioEspecificidad .tabla1 .row-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  #especificidad .contendioEspecificidad .tabla1 .row-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  #especificidad .contendioEspecificidad .tabla1 .row-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  #especificidad .contendioEspecificidad .tabla1 .row-4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  #especificidad .contendioEspecificidad .tabla2 {
    display: none;
  }
  #serviciosDos .textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: calc(10vh) 10px 0 10px;
  }
  #serviciosDos .textos h2 {
    font-size: 6rem;
    margin-bottom: 40px;
  }
  #serviciosDos .textos p {
    font-size: 2.3rem;
    width: 80%;
    margin-bottom: 20px;
  }
  #serviciosDos .textos button {
    position: relative;
    font-size: 2rem;
  }
  #serviciosDos .imgFondo {
    background-image: linear-gradient(230deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 100%), url("./assets/img/empleados-temperatura.jpeg");
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #sistema .igDeFondo {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.9)), color-stop(10%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0))), url("./assets/img/meeting.jpeg");
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%), url("./assets/img/meeting.jpeg");
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #sistema .textos2 .superior h2 {
    font-size: 6rem;
    text-shadow: 0px 3px 6px #00000058;
  }
  #sistema .textos2 .superior p {
    font-size: 2.4rem;
    text-shadow: 0px 3px 6px #00000058;
  }
  #sistema .textos2 .inferior h3 {
    font-size: 6rem;
  }
  #sistema .textos2 .inferior li {
    font-size: 2.4rem;
  }
  #precio .imgfDeFondo {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #precio .dentro {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #precio .dentro h2 {
    font-size: 5rem;
  }
  #precio .dentro .cuadrosDeValores .cuadritos h3 {
    font-size: 3rem;
  }
  #precio .dentro .cuadrosDeValores .cuadritos h4 {
    font-size: 3.5rem;
  }
  #precio .dentro .cuadrosDeValores .cuadritos button {
    font-size: 2.8rem;
  }
  #contacto .contacto_contenido {
    max-width: 650px;
    padding: 15px 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #contacto .contacto_contenido h2 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 10px 15px 10px 0px;
  }
  #contacto .contacto_contenido .contactanos__form {
    margin: 0;
    padding: 0px;
    padding-top: 0px;
  }
  #contacto .contacto_contenido .contactanos__form label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .contacto_contenido .contactanos__form span {
    display: block;
    margin-top: 8px;
    font-size: 2.5rem;
    color: white;
  }
  #contacto .contacto_contenido .contactanos__form input {
    margin: 10px 0px;
    width: 100%;
    font-size: 2rem;
  }
  #contacto .contacto_contenido .contactanos__form textarea {
    margin: 10px 0px;
    width: 100%;
    min-height: 100px;
    font-size: 2rem;
  }
  #contacto .contacto_contenido .contactanos__form--btns input[type=submit] {
    max-width: 300px;
    padding: 10px;
    font-size: 2.5rem;
    margin-top: 10px;
    border-radius: 30px;
  }
  #contacto .contacto_imgFondo {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  footer {
    height: 50vh;
  }
  footer .fooImagen {
    height: 100%;
  }
  footer .fooContenido {
    padding: 10px 30px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .fooContenido .fooBlockUno .localitation {
    display: none;
  }
  footer .fooContenido .abajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  footer .fooContenido .abajo .fooBlockDos {
    margin: 0px 0px;
  }
  footer .fooContenido .abajo .fooBlockTres {
    margin-left: 50px;
  }
}

@media (min-width: 1140px) {
  #precio .dentro .cuadrosDeValores {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #precio .dentro .cuadrosDeValores::-webkit-scrollbar {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */