///////////////////////////////////////////////////
/////////////////// Variables /////////////////////
///////////////////////////////////////////////////

$Color-de-fondo: white;
$Color-verde-claro: #0B6660;

///////////////////////////////////////////////////
//////////////////// Globales /////////////////////
///////////////////////////////////////////////////


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior:smooth;
    /* para que al hacer scroll al presionar el menu lo haga de manera suave */
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
}

///////////////////////////////////////////////////
//////////////////// Cuerpo ////////////////////////
///////////////////////////////////////////////////

body {
    background-color: palegreen;
    width: 100%;
    overflow-x: hidden;
}

//////////////////// Menu ////////////////////////

.menu {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

    &_logo {
        height: 100%;
        &-img {
            height: 100%;
        }
    }

    &_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &_checkbox {
            display: none;
        }

        &_icon {
            height: 100%;
            display: flex;
            align-items: center;
            &-img {
                height: 50%;
            }
        }
    
        &_icon:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.3);
        }
    
        &_nav {
            display: none;
            &-ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: $Color-de-fondo;
                border: 1px solid $Color-verde-claro;
                
                li {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    padding: 10px;

                    img {
                        height: 45px;
                        margin: 10px;
                    }

                    p{
                        font-size: 2rem;
                        color: $Color-verde-claro;
                    }
                }
    
                li:hover {
                    cursor: pointer;
                    background-color: rgba($color: #000000, $alpha: 0.3);            
                }
            }
        }
    }
}

//Esto hace aparecer y desaparecer le menu
#btn-check:checked ~ .menu_block_nav {
    display: block;
}

.slide {
    height: 100vh;
    outline: 1px solid black;
}

#homeSlide {
    background-color: aquamarine;
}

///////////////////////////////////////////////////
///////////////// Media Query /////////////////////
///////////////////////////////////////////////////

@media (min-width: 600px) {
    body {
        background-color: palegoldenrod;
    }
}