* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  /* para que al hacer scroll al presionar el menu lo haga de manera suave */
}

html h1 {
  font-size: 4rem;
}

html h2 {
  font-size: 3rem;
}

html p {
  font-size: 2rem;
}

body {
  background-color: white;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.menu_logo {
  height: 100%;
}

.menu_logo-img {
  height: 100%;
}

.menu_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu_block_checkbox {
  display: none;
}

.menu_block_icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_block_icon-img {
  height: 50%;
}

.menu_block_icon:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu_block_nav {
  display: none;
}

.menu_block_nav-ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border: 1px solid #0B6660;
}

.menu_block_nav-ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
}

.menu_block_nav-ul li img {
  height: 45px;
  margin: 10px;
}

.menu_block_nav-ul li p {
  font-size: 2rem;
  color: #0B6660;
}

.menu_block_nav-ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

#btn-check:checked ~ .menu_block_nav {
  display: block;
}

.slide {
  height: 100vh;
  padding: 10px;
  position: relative;
}

#home {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("./assets/img/Home-photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home h1 {
  font-size: 3.5rem;
  color: white;
  text-shadow: 0px 3px 6px #00000058;
  text-align: center;
}

#home h2 {
  font-size: 3rem;
  color: #58C9E2;
  text-shadow: 0px 3px 6px #00000058;
  text-align: center;
}

#home button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #1eb9db;
  font-size: 1.5rem;
  color: white;
  padding: 7px 70px;
  margin: 40px;
}

#home p {
  font-size: 1.3rem;
  text-align: center;
}

#servicios {
  margin-top: calc(90vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: calc(10vh) 0px;
  background-image: url("./assets/img/toma-de-muestras.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 6%, 100% 15%, 100% 85%, 0 93%);
          clip-path: polygon(0 6%, 100% 15%, 100% 85%, 0 93%);
}

#servicios h2 {
  font-size: 3.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #0B6660;
  margin-bottom: 10px;
}

#servicios .cuadro {
  background-color: rgba(0, 0, 0, 0.15);
  width: 90%;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  padding: 20px;
}

#servicios .cuadro i {
  margin-bottom: 20px;
}

#servicios .cuadro i img {
  height: 79px;
  width: 79px;
}

#servicios .cuadro h3 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0px 3px 6px #00000058;
  margin: 10px 0px 30px;
}

#servicios .cuadro p {
  font-size: 1.8rem;
  color: white;
}

#servicios button {
  max-width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #1eb9db;
  font-size: 1.5rem;
  color: white;
  padding: 7px;
  margin: 20px;
}

#serviciosDos {
  position: relative;
  width: 100%;
}

#serviciosDos .textos {
  padding: calc(10vh) 10px 0 10px;
}

#serviciosDos .textos h2 {
  font-size: 3rem;
  color: #0B6660;
  text-align: right;
  margin-bottom: 20px;
}

#serviciosDos .textos p {
  font-size: 1.5rem;
  text-align: right;
  font-style: italic;
  color: #767676;
}

#serviciosDos .textos p span {
  color: #0B6660;
}

#serviciosDos .textos button {
  position: absolute;
  right: 0;
  max-width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 25px;
  background-color: #0b6660;
  font-size: 1.5rem;
  color: white;
  padding: 10px 30px;
  margin: 20px;
}

#serviciosDos .imgFondo {
  position: absolute;
  top: 30%;
  z-index: -1;
  height: 70vh;
  width: 100%;
  background-image: url("./assets/img/empleados-temperatura.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}

#sistema {
  position: relative;
}

#sistema .igDeFondo {
  position: absolute;
  height: 70vh;
  width: 100vw;
  top: 0%;
  background-image: url("./assets/img/meeting.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
}

#sistema .textos2 {
  position: absolute;
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sistema .textos2 .superior {
  color: white;
}

#sistema .textos2 .superior h2 {
  margin-bottom: 10px;
  font-size: 2.6rem;
}

#sistema .textos2 .superior p {
  font-size: 1.7rem;
}

#sistema .textos2 .inferior h3 {
  font-size: 2.6rem;
  color: #0B6660;
  margin-bottom: 10px;
}

#sistema .textos2 .inferior li {
  font-size: 1.8rem;
  list-style: none;
  color: #767676;
}

#sistema .textos2 .inferior li span {
  font-weight: bold;
  color: #0B6660;
}

#contacto {
  background-color: #0B6660;
}

@media (min-width: 677px) {
  .menu_block_icon {
    display: none;
  }
  .menu_block_icon-img {
    display: none;
  }
  .menu_block_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 80%;
  }
  .menu_block_nav-ul {
    height: 100%;
    background-color: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .menu_block_nav-ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    height: 100%;
  }
  .menu_block_nav-ul li img {
    display: none;
  }
  .slide {
    padding: 20px;
  }
  #home {
    padding: 50px;
  }
  #home h1 {
    font-size: 5.5rem;
  }
  #home h2 {
    font-size: 4.5rem;
  }
  #home button {
    border-radius: 0px;
    background-color: rgba(30, 185, 219, 0.5);
    font-size: 2.5rem;
    padding: 8px 50px;
    margin: 20px;
  }
  #home p {
    font-size: 1.6rem;
  }
  #servicios {
    padding: calc(10vh) calc(10vw);
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(30%, white), to(rgba(255, 255, 255, 0))), url("./assets/img/toma-de-muestras.png");
    background-image: linear-gradient(90deg, white 0%, white 30%, rgba(255, 255, 255, 0) 100%), url("./assets/img/toma-de-muestras.png");
    background-size: 100%;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 85%, 0 85%);
            clip-path: polygon(0 10%, 100% 10%, 100% 85%, 0 85%);
  }
  #servicios h2 {
    font-size: 6rem;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  #servicios .cuadro {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: none;
            transform: none;
    padding: 0px 0px 100px 0px;
  }
  #servicios .cuadro i {
    display: none;
  }
  #servicios .cuadro h3 {
    font-size: 5rem;
    color: #1EB9DB;
    text-shadow: none;
    margin: 0px 0px 50px;
    width: 50vw;
  }
  #servicios .cuadro p {
    font-size: 2.3rem;
    color: #767676;
    width: 40vw;
  }
  #servicios button {
    display: none;
  }
  #serviciosDos .textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: calc(10vh) 10px 0 10px;
  }
  #serviciosDos .textos h2 {
    font-size: 6rem;
    margin-bottom: 40px;
  }
  #serviciosDos .textos p {
    font-size: 2.3rem;
    width: 80%;
    margin-bottom: 20px;
  }
  #serviciosDos .textos button {
    position: relative;
    font-size: 2rem;
  }
  #serviciosDos .imgFondo {
    background-image: linear-gradient(230deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 100%), url("./assets/img/empleados-temperatura.jpeg");
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #sistema .igDeFondo {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.9)), color-stop(10%, rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0))), url("./assets/img/meeting.jpeg");
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 100%), url("./assets/img/meeting.jpeg");
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  #sistema .textos2 .superior h2 {
    font-size: 6rem;
    text-shadow: 0px 3px 6px #00000058;
  }
  #sistema .textos2 .superior p {
    font-size: 2.4rem;
    text-shadow: 0px 3px 6px #00000058;
  }
  #sistema .textos2 .inferior h3 {
    font-size: 6rem;
  }
  #sistema .textos2 .inferior li {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=estilos.css.map */