///////////////////////////////////////////////////
/////////////////// Variables /////////////////////
///////////////////////////////////////////////////


$Color-de-fondo: white;
$Color-verde-claro: #0B6660;
$Color-Celeste-logo: #58C9E2;
$Color-Celeste-fuerte: #1EB9DB;
$Color-gris-claro: #767676;


///////////////////////////////////////////////////
//////////////////// Globales /////////////////////
///////////////////////////////////////////////////

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    scroll-snap-type: y mandatory;
    /*para saltar de slide en slice a lo Tesla
    se necesita de 
      scroll-snap-align: start;
    para que se detenga en las secciones que se quiere 
    */
    scroll-behavior: smooth;
    /* para que al hacer scroll al presionar el menu lo haga de manera suave */

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
}


///////////////////////////////////////////////////
//////////////////// Cuerpo ////////////////////////
///////////////////////////////////////////////////

body {
    background-color: $Color-de-fondo;
    position: relative;
    width: 100%;
    max-width: 1366px; 
    margin: 0 auto;
    overflow-x: hidden;
}


//////////////////// Menu ////////////////////////

.menu {
    position: sticky;
    top: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    z-index: 2;
    background-color: rgba($color: #fff, $alpha: 0.6);
    backdrop-filter: blur(4px); //para difuminar el fondo

    &_logo {
        height: 100%;
        text-decoration: none;
        &-img {
            height: 100%;
        }

        .deLado {
            display: flex;
            height: 100%;
            flex-direction: row;
            align-items: center;

            img {
                height: 60%;
                margin: 10px;
            }

            h2 {
                font-size: 3.5rem;
                font-weight: lighter;
                color: $Color-verde-claro;
                display: flex;
                flex-direction: row;
                
                span {
                    // margin-right: 10px;
                    color: $Color-Celeste-fuerte;
                }
            }
        }
    }

    &_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &_checkbox {
            display: none;
        }

        &_icon {
            height: 100%;
            display: flex;
            align-items: center;
            &-img {
                height: 50%;
            }
        }
    
        &_icon:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.3);
        }
    
        &_nav {
            display: none;
            &-ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: $Color-de-fondo;
                border: 1px solid $Color-verde-claro;
                
                li {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    padding: 15px;

                    img {
                        height: 45px;
                        margin: 10px;
                    }

                    p{
                        font-size: 2rem;
                        color: $Color-verde-claro;
                    }
                }
    
                li:hover {
                    cursor: pointer;
                    background-color: rgba($color: #000000, $alpha: 0.3);            
                }
            }
        }
    }
}

//Esto hace aparecer y desaparecer le menu
#btn-check:checked ~ .menu_block_nav {
    display: block;
}

//////////////////// Main ////////////////////////

.slide {
    height: 100vh;
    padding: 10px;
    position:relative;
    scroll-snap-align: start;
    // scroll-snap-stop: always;
}

///////////////////////// Home /////////////////////////////

#home {
    position:absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: url('./assets/img/Home_photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        font-size: 3.5rem;
        color: white;
        text-shadow: 0px 3px 6px #00000058;
        text-align: center;
    }
    
    h2 {
        font-size: 3rem;
        color: $Color-Celeste-logo;
        text-shadow: 0px 3px 6px #00000058;
        text-align: center;
    }
    
    button {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        border-radius: 25px;
        background-color: rgba($color: #1EB9DB, $alpha: 1);
        font-size: 1.5rem;
        color: white;
        padding: 7px 70px;
        margin: 40px;
    }

    p {
        font-size: 1.3rem;
        text-align: center;
    }
}

///////////////////////// Servicios /////////////////////////////
#servicios {
    position: relative;
    margin-top: calc(90vh);
    height: 100vh;
    width: 100%;
    
    .contenidosServicios {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        padding: calc(10vh) 0px;

        h2 {
            font-size: 3.5rem;
            align-self: center;
            color: $Color-verde-claro;
            margin-bottom: 10px;
        }
    
        .cuadro {
            background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.25);
            width: 90%;
            transform: translate(-10px);
            padding: 20px;
    
            i {
                margin-bottom: 20px;
                img {
                    height: 79px;
                    width: 79px;
                }
            }
            
            h3 {
                font-size: 2.5rem;
                color: white;
                text-shadow: 0px 3px 6px #00000058;
                margin: 10px 0px 30px;
            }
    
            p {
                font-size: 1.8rem;
                color: $Color-de-fondo;
            }
        }
    
        button {
            padding: 10px;
            margin: 20px;
            width: 250px;
            max-width: 300px;
            border-radius: 20px;
            align-self: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2rem;
            font-weight: bolder;
            color: white;
            border: none;
            background-color: rgba($color: #1EB9DB, $alpha: 1);
        }
    }

    .imgFondoServicios {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        background-image: url('./assets/img/toma-de-muestras.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 6%, 100% 15%, 100% 85%, 0 95%);
        transform: translate(-10px);
        z-index: -1;
    }
}

///////////////////////// Especificidad /////////////////////////////
#especificidad {
    scroll-snap-align: end;
    position: relative;
    
    .imgEspecificidad {
        position: absolute;
        top: 0;
        height: 50vh;
        width: 100%;
        background-image: linear-gradient(0deg, rgba(255,255,255,1) -1%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 100%), url('./assets/img/examen-microscopio.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-10px);
        z-index: -1;
    }

    .contendioEspecificidad {
        position: absolute;
        bottom: 3%;
        // padding-top: 25vh;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            display: none;
        }

        h3 {
            display: none;
        }

        .texto1 {
            display: none;
        }

        .texto2 {
            color: $Color-Celeste-fuerte;
            font-weight: bold;
            font-size: 2.3rem;
            // text-shadow: 0px 3px 6px #00000058;
            text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;

        }

        .tabla1 {
            display: none;
        }

        .tabla2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(11, 1fr);
            align-items: center;

            margin: 10px 0;
            padding: 0 20px;
            font-size: 2rem;

            .t-titulos {
                font-size: 2rem;
                color: $Color-verde-claro;
                font-weight: bolder;
            }

            .t-Subtitulos {
                background-color: $Color-verde-claro;
                color: $Color-de-fondo;
                font-size: 1,8rem;
                font-weight: bold;
                text-align: left;
                padding: 1px 10px;
            }

            .bor-right {
                border-right: 1px solid $Color-gris-claro;
            }

            .t1 {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
            .t2 {
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            }
            .t3i {
                grid-column: 1 / 4;
                grid-row: 3 / 4;
            }
            .t4 {
                grid-column: 1 / 3;
                grid-row: 4 / 6;
            }
            .t5 {
                grid-column: 3 / 4;
                grid-row: 4 / 6;
            }
            .t6i {
                grid-column: 1 / 4;
                grid-row: 6 / 7;
            }
            .t7 {
                grid-column: 1 / 3;
                grid-row: 7 / 9;
            }
            .t8 {
                grid-column: 3 / 4;
                grid-row: 7 / 9;
            }
            .t9i {
                grid-column: 1 / 4;
                grid-row: 9 / 10;
            }
            .t10 {
                grid-column: 1 / 3;
                grid-row: 10 / 12;
            }
            .t11 {
                grid-column: 3 / 4;
                grid-row: 10 / 12;
            }
        }

        .texto3 {
            color: $Color-gris-claro;
        }
    }
}

///////////////////////// ServiciosDos /////////////////////////////
#serviciosDos {
    position: relative;
    width: 100%;
    .textos {
        padding: calc(10vh) 10px 0 10px;
        h2 {
            font-size: 3rem;
            color: $Color-verde-claro;
            text-align: right;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.5rem;
            text-align: right;
            font-style: italic;
            color: $Color-gris-claro;
            text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
            span {
                color: $Color-verde-claro;
            }
        }

        button {
            position: absolute;
            right: 0;
            max-width: 50%;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border: none;
            border-radius: 25px;
            background-color: rgba($color: $Color-verde-claro, $alpha: 1);
            font-size: 1.5rem;
            color: white;
            padding: 10px 30px;
            margin: 20px;
        }
    }

    .imgFondo {
        position: absolute;
        top: 30%;
        z-index: -1;
        height: 70vh;
        width: 100%;

        background-image: url('./assets/img/empleados-temperatura.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-10px);
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
    }
}

///////////////////////// Sistemas /////////////////////////////
#sistema {
    position: relative;

    .igDeFondo {
        position: absolute;
        height: 70vh;
        width: 100%;
        top: 0%;

        background-image: url('./assets/img/meeting.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-10px);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 91%);
    }

    .textos2 {
        position: absolute;
        padding-top: 10vh;
        padding-left: 20px;
        padding-right: 20px;
        height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .superior {
            color: $Color-de-fondo;
            
            h2 {
                margin-bottom: 10px;
                font-size: 2.6rem;
                text-shadow: 0px 3px 6px #00000058;
            }

            p {
                font-size: 1.7rem;
            }
        }

        .inferior {
            h3{
                font-size: 2.6rem;
                color: $Color-verde-claro;
                margin-bottom: 10px;
                text-shadow: 0px 3px 6px #00000058;
            }

            li {
                font-size: 1.8rem;
                list-style: none;
                color: $Color-gris-claro;

                span {
                    font-weight: bold;
                    color: $Color-verde-claro;
                }
            }
        }
    }
}

///////////////////////// Precio /////////////////////////////
#precio {
    position: relative;
    height: 100vh;
    
    .imgfDeFondo {
        position: absolute;
        height: 80vh;
        width: 100%;
        top: 20%;

        background-image: url('./assets/img/pagos.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-10px);
    }
    
    .dentro {
        position: absolute;
        
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        transform: translate(-10px);
        padding-left: 10px;
        padding-right: 10px;
        
        h2 {
            margin: 10px;
            color: $Color-gris-claro;
            font-size: 4.5rem;
            text-shadow: 0px 2px 3px #00000058;
        }
        
        .cuadrosDeValores {
            padding: 10px;
            padding-top: 20px;
            width: 100%;
            height: 70vh;

            display: flex;
            // flex-wrap: wrap;
            // justify-content: center;
            align-items: center;
            gap: 20px;

            overflow-x: scroll;
            scroll-snap-type: x proximity;
            /* para que se mueva en x a la mas cercana, y con el 
            scroll-snap-align: center; en las tarjetas 
            estas tarjetas se centraran en la web */
 
            .cuadritos {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                scroll-snap-align: center;
                /* las tarjetas no pueden quedar a la mitad, siempre te centra una tarjeta */

                
                min-width: 220px;
                // width: 70%;
                max-width: 260px;
                min-height: 300px;
                max-height: 350px;
                border-radius: 10px;
                padding: 10px;
                background-color: rgba($color: $Color-verde-claro, $alpha: 1);

                h3 {
                    text-align: center;
                    font-weight: lighter;
                    font-size: 2.5rem;
                    color: $Color-de-fondo;    
                }
                h4 {
                    text-align: center;
                    font-size: 3.5rem;
                    color: $Color-de-fondo;
                    text-shadow: 0px 3px 6px #00000058;
                }
                button {
                    min-width: 120px;
                    width: 45vw;
                    max-width: 190px;
                    height: 45px;
                    font-size: 2.5rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                    border: none;
                    border-radius: 5px;
                    background-color: rgba($color: #1EB9DB, $alpha: 1);
                    color: white;
                }
            }
        }
    }
}

///////////////////////// Contacto /////////////////////////////
#contacto {
    position: relative;
    height: 100vh;
    width: 100%;
    
    .contacto_contenido {
        // position: absolute;
        // top: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 11vh;
        background-color: rgba($color: $Color-verde-claro, $alpha: 0.8);
        // transform: translate(-10px);
        
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: $Color-de-fondo;
            font-size: 3rem;
            font-weight: lighter;
            letter-spacing: 1px;
            margin: 15px 0 5px;
        }
        
        .contactanos__form{
            margin: auto;
            padding: 10px;
            width: 100%;
            padding-top: 15px;
    
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            span {
                display: none;
            }

            input {
                margin: 10px;
                width: 75vw;
                padding: 5px;
                border: none;
                font-size: 1.7rem;
            }
            
            textarea {
                margin: 10px;
                width: 75vw;
                min-height: 150px;
                padding: 5px;
                border: none;
                font-size: 1.7rem;
            }

            &--btns {
                input[type=reset] {
                    display: none;
                }
    
                input[type=submit] {
                    width: 50vw;
                    padding: 8px;
                    font-size: 2rem;
                    background-color: $Color-Celeste-fuerte;
                    border: 1px solid $Color-Celeste-logo;
                    border-radius: 25px;
                    color: $Color-de-fondo;
                }
            }

        }
    }
    
    .contacto_imgFondo {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        background-image: url("./assets/img/oficina-distanciada.jpeg");
        background-size: cover;     
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-10px);
        z-index: -1;
    }
}

///////////////////////// Footer /////////////////////////////
footer {
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: end;
    
    .fooImagen {
        position: absolute;
        top: 10%;
        height: 90vh;
        width: 100%;
        background-image: url("./assets/img/Test-salival.jpg");
        background-size: cover;     
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
        z-index: -1;
    }

    img {
        height: 26px;
        width: 26px;
        margin: 7px;
    }

    .deLado {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h3 {
        color: $Color-verde-claro;
        font-size: 2.5rem;
        font-weight: bolder;
        margin: 5px;
    }

    p, li {
        color: $Color-gris-claro;
    }

    .oculto {
        display: none;
    }

    .fooContenido {
        padding: 10px;
        padding-top: calc(10vh + 50px);

        .fooBlockUno {
            h2 {
                font-weight: lighter;
                color: $Color-verde-claro;
                
                span {
                    color: $Color-Celeste-fuerte;
                }
            }
        }

        .fooBlockDos {
            margin: 30px 0;
        }

        .fooBlockTres {
            li {
                margin: 7px 10px;
                list-style: none;
                font-size: 2rem;
            }
        }
    }
}



///////////////////////////////////////////////////
///////////////// Media Query /////////////////////
///////////////////////////////////////////////////



@media (min-width: 677px) {
    .menu {        
        &_block {
            &_icon {
                display: none;
                &-img {
                    display: none;
                }
            }
        
            &_nav {
                display: flex;
                justify-content: center;
                height: 100%;
                width: 80%;
                &-ul{
                    height: 100%;
                    background-color: transparent;
                    align-items: center;
                    border: none;
                    
                    li {
                        justify-content: center;
                        padding: 5px;
                        height: 100%;
    
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    .slide {
        padding: 20px;
    }

    #home {
        padding: 50px;

        h1 {
            font-size: 5.5rem;
        }
        
        h2 {
            font-size: 4.5rem;
        }
        
        button {
            border-radius: 0px;
            background-color: rgba($color: #1EB9DB, $alpha: 0.5);
            font-size: 2.5rem;
            padding: 8px 50px;
            margin: 20px;
        }
    
        p {
            font-size: 1.6rem;
        }
    }

    ///////////////////////// Servicios /////////////////////////////
    #servicios {        
        .contenidosServicios {
            display: block;
            width: 80%;
            h2 {
                font-size: 5rem;
            }
        
            .cuadro {
                background-color: rgba($color: rgb(0, 0, 0), $alpha: 0);
                width: 80%;
        
                i {
                    display: none;
                }
                
                h3 {
                    font-size: 4.5rem;
                    color: $Color-Celeste-fuerte;
                    text-shadow: 0px 0px 0px #00000058;
                }
        
                p {
                    font-size: 2.5rem;
                    color: $Color-gris-claro;
                }
            }
        
            button {
                display: none;
            }
        }

        .imgFondoServicios {
            background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0) 100%), url('./assets/img/toma-de-muestras.jpg');
            clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
            transform: translate(-20px);
        }
    }

    ///////////////////////// Especificidad /////////////////////////////
    #especificidad {
        .imgEspecificidad {
            top: 10vh;
            height: 90vh;
            width: 80%;
            background-image: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 15%, rgba(255,255,255,0) 100%), url('./assets/img/examen-microscopio.jpeg');
            transform: translate(-20px);
        }

        .contendioEspecificidad {
            top: 11vh;
            right: 10px;
            width: 60%;
            text-align: right;

            h2 {
                display: block;
                font-size: 4rem;
                font-weight: bold;
                color: $Color-verde-claro;
                margin-top: 30px;
            }

            h3 {
                display: block;
                font-size: 3rem;
                font-weight: lighter;
                color: $Color-Celeste-fuerte;
                margin-bottom: 30px;
            }

            .texto1 {
                display: block;
                margin: 10px 0;
                font-size: 2rem;
                font-weight: bold;
                color: $Color-gris-claro;
            }

            .texto2 {
                display: none;
            }

            .tabla1 {
                margin: 20px 0;
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(4, 1fr);
                align-items: center;

                .y-titulos {
                    font-size: 2rem;
                    font-weight: bold;
                    color: $Color-verde-claro;
                    justify-self: center;
                }
                
                .y-contenido {
                    font-size: 2rem;
                    font-weight: lighter;
                    color: $Color-gris-claro;
                    justify-self: center;
                }
                
                .colum-1 {
                    grid-column: 1 / 4;
                    justify-self: right;
                }
                .colum-2 {
                    grid-column: 4 / 7;
                }
                .colum-3 {
                    grid-column: 7 / 9;
                }
                .row-1 {
                    grid-row: 1 / 2;
                }
                .row-2 {
                    grid-row: 2 / 3;
                }
                .row-3 {
                    grid-row: 3 / 4;
                }
                .row-4 {
                    grid-row: 4 / 5;
                }
            }

            .tabla2 {
                display: none;
            }
        }
    }

    ///////////////////////// ServiciosDos /////////////////////////////
    #serviciosDos {
        .textos {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: calc(10vh) 10px 0 10px;

            h2 {
                font-size: 6rem;
                margin-bottom: 40px;
            }
            
            p { 
                font-size: 2.3rem;
                width: 80%;
                margin-bottom: 20px;
            }
    
            button {
                position: relative;
                font-size: 2rem;
            }
        }
    
        .imgFondo {
            background-image: linear-gradient(230deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0) 100%), url('./assets/img/empleados-temperatura.jpeg');
            transform: translate(-20px);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }
    }

    ///////////////////////// Sistemas /////////////////////////////
    #sistema {
        .igDeFondo {
            background-image: linear-gradient(270deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.6) 10%, rgba(255,255,255,0) 100%), url('./assets/img/meeting.jpeg');
            transform: translate(-20px);
            clip-path: polygon(0 0, 100% 0%, 100% 91%, 0 91%);
        }
    
        .textos2 {
            .superior {
                h2 {
                    font-size: 6rem;
                    text-shadow: 0px 3px 6px #00000058;
                }
                
                p {
                    font-size: 2.4rem;
                    text-shadow: 0px 3px 6px #00000058;
                }
            }
    
            .inferior {
                h3{
                    font-size: 6rem;
                }
    
                li {
                    font-size: 2.4rem;
                }
            }
        }
    }
    
    ///////////////////////// Precio /////////////////////////////
    #precio {
        .imgfDeFondo {
            height: 70vh;
            top: 30%;
            transform: translate(-20px);
        }
        
        .dentro {
            transform: translate(-20px);
            
            h2 {
                margin-left: 30px;
                font-size: 6rem;
            }
            
            .cuadrosDeValores {    
                .cuadritos {
                    h3 {
                        font-size: 3rem;
                    }
                    h4 {
                        font-size: 3.5rem;
                    }
                    button {
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }

    ///////////////////////// Contacto /////////////////////////////
    #contacto {
        .contacto_contenido {
            max-width: 650px;
            padding: 15px 50px;
            align-items: flex-start;

            h2 {
                font-size: 4rem;
                font-weight: bolder;
                margin: 10px 15px 10px 0px;
            }
            
            .contactanos__form{
                margin: 0;
                padding: 0px;
                padding-top: 0px;

                label {
                    flex-direction: column;
                }

                span {
                    display: block;
                    margin-top: 8px;
                    font-size: 2.5rem;
                    color: white;
                }

                input {
                    margin: 10px 0px;
                    width: 100%;
                    font-size: 2rem;
                }
                
                textarea {
                    margin: 10px 0px;
                    width: 100%;
                    min-height: 100px;
                    font-size: 2rem;
                }

                &--btns {
                    input[type=submit] {
                        max-width: 300px;
                        padding: 10px;
                        font-size: 2.5rem;
                        margin-top: 10px;
                        border-radius: 30px;
                    }
                }

            }
        }
        
        .contacto_imgFondo {
            transform: translate(-20px);
        }
    }

    ///////////////////////// Footer /////////////////////////////

    footer {
        height: 50vh;
        
        .fooImagen {
            height: 100%;
            top: 0;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }

        .fooContenido {
            padding: 10px 30px;
            padding-top: 50px;

            display: flex;
            flex-direction: column;

            .fooBlockUno {
                .localitation {
                    display: none;
                }
            }

            .abajo {
                display: flex;
                align-items: flex-start;
                margin-top: 10px;
                .fooBlockDos {
                    margin: 0px 0px;
                }

                .fooBlockTres {
                    margin-left: 50px;
                }
            }
        }
    }
}


///////////////////////// siguiente Media Query /////////////////////////////


@media (min-width: 1140px) {
    #precio {
        .dentro {
            .cuadrosDeValores {
                justify-content: center;
            }
            .cuadrosDeValores::-webkit-scrollbar {
                display: none;
            }
        }
    }
}